exportPattern("^[[:alpha:]]+")
importFrom("utils", "object.size", "lsf.str", "getTxtProgressBar",
           "setTxtProgressBar", "txtProgressBar")
importFrom("graphics", "abline", "layout", "legend", "par", "plot.new",
             "strwidth", "text")
